.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 5px;
}
.container {
  text-align: center;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.card img {
  width: 200px;
  height: 150px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%;
}
.card-container .card .rating-stars {
  color: #fcd44a;
  font-size: 20px;
}

.card-container .card .rating-stars-empty {
  color: #c4c4c4;
  font-size: 20px;
}
.portada img {
  width: 1000px;
  height: 800px;
  object-fit: cover;
  align-self: center;
}
.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.carousel {
  display: flex;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 80%;
  height: auto;
}

