.container {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
}

img {
  width: 300px;
  height: 300px;
  height: auto;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingrediente-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ingrediente-info {
  flex: 1;
  margin-right: 20px;
}

.ingrediente-imagen {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.ingrediente-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.receta{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.receta img{
  margin-top: 15px;
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.container.opiniones-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opiniones-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.opiniones-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opiniones-container .opinion-item {
  margin-bottom: 20px;
}

.opiniones-container .opinion-info {
  margin-left: 20px;
}

.opiniones-container .opinion-info p {
  margin-bottom: 8px;
}

.container.opiniones-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opiniones-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.opiniones-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opiniones-container .opinion-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.opiniones-container .opinion-info {
  margin-left: 20px;
}

.opiniones-container .opinion-info p {
  margin-bottom: 8px;
}

.creacion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.creacion-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group button {
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group button[type="button"] {
  background-color: #f44336;
}

.form-group button[type="submit"] {
  background-color: #008CBA;
}

.boton-crear {
  margin-top:20px;
  margin-bottom:20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-crear:hover {
  background-color: #45a049;
}

.boton-crear:active {
  background-color: #3e8e41;
}
.valoracion {
  margin-top: 20px;
}

.estrellas {
  display: inline-block;
}

.estrella {
  display: inline-block;
  cursor: pointer;
}

.fa {
  font-size: 24px;
  color: gold;
}




