.navbar {
  background-color: lightgray;
  padding: 10px;
  display: flex;
  align-items: left;
  width: 100%;
}

.navbar img {
  width: 100px;
  height:100px;
  margin-right: 10px;
  margin-left: 30px;
}

.nav-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-options li {
  margin-right: 10px;
}

.nav-options li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
